
<figma-relay-hello-card-component></figma-relay-hello-card-component>
<figma-relay-hello-card-component
  [borderRadius]="10"
  [backgroundColor]="'#666666'"
  *ngFor="let album of albums"
  [name]="album.name"
  [img]="album.image"
></figma-relay-hello-card-component>


<figma-relay-counter-component [total]="200"></figma-relay-counter-component>


<figma-relay-star-component></figma-relay-star-component>


<figma-relay-polygon-component></figma-relay-polygon-component>

<figma-relay-card-component></figma-relay-card-component>