.article-item-2-147 {
	box-sizing:border-box;
	border-radius:24px;
	display:inline-flex;
	flex-direction:column;
	width:354px;
	height:92px;
	padding-left:11px;
	padding-right:11px;
	padding-top:7px;
	padding-bottom:11px;
	background-color:rgba(61, 78,95, 1);
}
.content-2-164 {
	box-sizing:border-box;
	display:inline-flex;
	flex-direction:row;
	gap:12px;
	width:330px;
	height:72px;
	background-color:rgba(0, 0,0, 0);
}
.thumbnail-frame-2-165 {
	box-sizing:border-box;
	display:inline-flex;
	flex-direction:row;
	width:68px;
	height:72px;
	padding-top:3px;
	background-color:rgba(0, 0,0, 0);
}
.thumbnail-2-166 {
	box-sizing:border-box;
	background:url(/assets/figma-relay/727ab53561db2ff83d4094352e20dfff0538f8bb.png);
	background-size:cover!important;
	background-position:center!important;
	border-radius:16px;
	position:relative;
	width:68px;
	height:68px;
}
.title-group-2-167 {
	box-sizing:border-box;
	display:inline-flex;
	flex-direction:column;
	gap:4px;
	width:250px;
	height:72px;
	background-color:rgba(0, 0,0, 0);
}
.headline-2-168 {
	box-sizing:border-box;
	color:rgba(255, 255,255, 1);
	font-family:Roboto;
	font-weight:500;
	font-size:16px;
	position:relative;
	width:250px;
	height:48px;
}
.meta-2-169 {
	box-sizing:border-box;
	display:inline-flex;
	flex-direction:row;
	gap:8px;
	width:250px;
	height:20px;
	background-color:rgba(0, 0,0, 0);
}
.author-2-170 {
	box-sizing:border-box;
	color:rgba(255, 255,255, 1);
	font-family:Roboto;
	font-weight:400;
	font-size:12px;
	position:relative;
	width:81px;
	height:20px;
}
.date-2-171 {
	box-sizing:border-box;
	color:rgba(216, 216,216, 1);
	font-family:Roboto;
	font-weight:400;
	font-size:12px;
	position:relative;
	width:108px;
	height:20px;
}
