.audio-item-2-172 {
	box-sizing:border-box;
	border-radius:24px;
	display:inline-flex;
	flex-direction:column;
	width:353px;
	height:160px;
	padding-left:11px;
	padding-right:11px;
	padding-top:11px;
	padding-bottom:11px;
	background-color:rgba(61, 78,95, 1);
}
.content-2-181 {
	box-sizing:border-box;
	display:inline-flex;
	flex-direction:column;
	gap:8px;
	width:329px;
	height:136px;
	background-color:rgba(0, 0,0, 0);
}
.episode-2-182 {
	box-sizing:border-box;
	display:inline-flex;
	flex-direction:row;
	gap:8px;
	width:329px;
	height:96px;
	background-color:rgba(0, 0,0, 0);
}
.title-group-2-183 {
	box-sizing:border-box;
	display:inline-flex;
	flex-direction:column;
	gap:8px;
	width:255px;
	height:96px;
	background-color:rgba(0, 0,0, 0);
}
.headline-2-184 {
	box-sizing:border-box;
	font-family:Roboto;
	font-weight:500;
	font-size:16px;
	position:relative;
	width:255px;
	height:72px;
}
.author-2-185 {
	box-sizing:border-box;
	font-family:Roboto;
	font-weight:400;
	font-size:12px;
	position:relative;
	width:255px;
	height:16px;
}
.thumbnail-2-186 {
	box-sizing:border-box;
	background:url(/assets/figma-relay/35f5e7fc973925fa10409149e9c96f878b50933e.png);
	background-size:cover!important;
	background-position:center!important;
	border-radius:16px;
	position:relative;
	width:66px;
	height:66px;
}
.meta-2-187 {
	box-sizing:border-box;
	display:inline-flex;
	flex-direction:row;
	gap:192px;
	width:329px;
	height:32px;
	padding-top:7px;
	background-color:rgba(0, 0,0, 0);
}
.controls-2-188 {
	box-sizing:border-box;
	display:inline-flex;
	flex-direction:row;
	gap:12px;
	width:77px;
	height:20px;
	background-color:rgba(0, 0,0, 0);
}
.date-2-190 {
	box-sizing:border-box;
	font-family:Roboto;
	font-weight:400;
	font-size:14px;
	position:relative;
	width:77px;
	height:20px;
}
.menu-2-191 {
	box-sizing:border-box;
	background:url(/assets/figma-relay/32fb0321ad6eecec99cc17934ddc182a1b8a709e.png);
	background-size:cover!important;
	background-position:center!important;
	position:relative;
	width:24px;
	height:24px;
}
