.hero-item-2-67 {
	box-sizing:border-box;
	border-radius:24px;
	display:inline-flex;
	flex-direction:column;
	width:354px;
	height:306px;
	padding-left:15px;
	padding-right:15px;
	padding-top:15px;
	padding-bottom:15px;
	background-color:rgba(61, 78,95, 1);
}
.content-2-60 {
	box-sizing:border-box;
	display:inline-flex;
	flex-direction:column;
	gap:8px;
	width:322px;
	height:274px;
	background-color:rgba(0, 0,0, 0);
}
.thumbnail-2-61 {
	box-sizing:border-box;
	background:url(/assets/figma-relay/3356fabcec2fcadc5635a989858571e891924c61.png);
	background-size:cover!important;
	background-position:center!important;
	border-radius:16px;
	position:relative;
	width:322px;
	height:158px;
}
.title-group-2-62 {
	box-sizing:border-box;
	display:inline-flex;
	flex-direction:column;
	gap:8px;
	width:322px;
	height:108px;
	background-color:rgba(0, 0,0, 0);
}
.headline-2-63 {
	box-sizing:border-box;
	color:rgba(255, 255,255, 1);
	font-family:Roboto;
	font-weight:500;
	font-size:22px;
	position:relative;
	width:322px;
	height:56px;
}
.meta-2-64 {
	box-sizing:border-box;
	display:inline-flex;
	flex-direction:column;
	gap:4px;
	width:322px;
	height:44px;
	background-color:rgba(0, 0,0, 0);
}
.author-2-65 {
	box-sizing:border-box;
	color:rgba(232, 232,232, 1);
	font-family:Roboto;
	font-weight:400;
	font-size:14px;
	position:relative;
	width:322px;
	height:20px;
}
.date-2-66 {
	box-sizing:border-box;
	color:rgba(232, 232,232, 1);
	font-family:Roboto;
	font-weight:400;
	font-size:12px;
	position:relative;
	width:322px;
	height:20px;
}
