
.polygon-51-13 {
	box-sizing:border-box;
	display:inline-flex;
	flex-direction:row;
	width:285px;
	height:258px;
	background-color:rgba(0, 0,0, 0);
}
.polygon-1-51-12 {
	box-sizing:border-box;
	border-radius:29px;
	display:inline-flex;
	flex-direction:row;
	width:285px;
	height:258px;
}
